<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Menu</title>
    </head>
    <body>
        <nav class="menu">
            <div class="logo">
                <img src="assets/images/dollar-finance-money-9-svgrepo-com.svg" alt="Logo empresa">
            </div>
            <div class="menu-divider"></div>
            <ul class="menu-links">
                <li><a href="index.html">Início</a></li>
                <li><a href="emprestimos.html">Empréstimos</a></li>
                <li><a href="sejacliente.html">Seja Cliente</a></li>
            </ul>
        </nav>
    </body>
</html>